.main {
  margin: 20px auto;
  font-family: Geneva, Arial, Helvetica, sans-serif;
    background: red;

  /*Title styles*/

  h1 {
    color: rgb(114, 191, 190);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  /*Paragraph styles*/
  p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
  }
}
